<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liquidación</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
 <div class="container my-5">
  <div class="d-flex flex-row-reverse py-3 my-3 mx-5">
    <small class="text-muted">
      <a href="../index.html" class="btn btn-danger text-white py-2 px-5">
        <img style="width: 30px; height: 30px;" src="https://img.icons8.com/color/48/000000/user-skin-type-7.png"/>Cerrar sesión</a></small>
  </div>
    <h1 class="my-5 text-center">Liquidación</h1>
    <div class="card-group my-5">
        <div class="card mx-2 border border-0">
          <div class="card-body">
            <h5 class="card-title h3 text-center">Administrador</h5>
            <div class="img-main text-center mt-5">
              <img src="https://img.icons8.com/plasticine/100/000000/manager.png"/>
            </div>
          </div>
          <div class="card-footer py-3">
            <small class="text-muted"><a href="administrator.html" class="btn btn-danger text-white d-grid">Ver</a></small>
          </div>
        </div>
        <div class="card mx-2 border border-0">
          <div class="card-body">
            <h5 class="card-title h3 text-center">Ensamblador</h5>
            <div class="img-main text-center mt-5">
              <img src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/FA5252/external-seller-street-food-flaticons-flat-flat-icons.png"/>
            </div>
         </div>
          <div class="card-footer  py-3">
            <small class="text-muted"><a href="assembler.html" class="btn btn-danger text-white d-grid">Ver</a></small>
          </div>
        </div>
        <div class="card mx-2 border border-0">
          <div class="card-body">
            <h5 class="card-title h3 text-center">Secretario</h5>
            <div class="img-main text-center mt-5">
              <img src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-secretary-avatar-and-occupation-justicon-lineal-color-justicon.png"/>
            </div>
         </div>
          <div class="card-footer py-3">
            <small class="text-muted"><a href="secretary.html" class="btn btn-danger text-white d-grid">Ver</a></small>
          </div>
        </div>
        <div class="card mx-2 border border-0">
            <div class="card-body">
              <h5 class="card-title h3 text-center">Vendedor</h5>
              <div class="img-main text-center mt-5">
                <img src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-seller-auction-house-flaticons-flat-flat-icons.png"/>
              </div>
           </div>
            <div class="card-footer py-3">
              <small class="text-muted"><a href="seller.html" class="btn btn-danger text-white d-grid">Ver</a></small>
            </div>
          </div>
      </div>
 </div>
</body>
</html>